<!-- content-form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/default_layout}">


<div layout:fragment="content">
    <h1>Create New Content</h1>
	<form th:action="@{/contents}" th:object="${content}" method="post">
	
	    <label for="title">Title:</label>
	    <input type="text" id="title" name="title" th:value="${content.title}" required />
	    
<!-- 	    <label for="userId">User ID:</label> -->
<!-- 	    <input type="text" id="userId" name="userId" th:value="${content.userId}" required /> -->
	    <input type="hidden" name="userId" th:value="${session.userid}" /> <!-- 세션의 userId 사용 -->
	
	    <label for="text">Content:</label>
	    <textarea id="text" name="text" th:value="${content.text}" required></textarea>
	
	    <button type="submit">Submit</button>
	</form>
</div>
</html>