<!-- content-form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/main_content}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/contents/contentForm.css}" />
</th:block>

<div layout:fragment="content">
	<div class='form-0'>
		<form class="form" th:action="@{/contents/edit/{id}(id=${content.contentId})}" th:object="${content}" method="post">

			<input class="title" type="text" id="title" name="title"  maxlength="50" placeholder="제목 입력, 최대 50자까지 가능합니다" th:value="${content.title}" required />

			<textarea class = "write-content" id="text" name="text" rows="20" cols="20" th:value="${content.text}" required></textarea>

			<button class = "submit-btn" type="submit">저장</button>
		</form>
	</div>
</div>
</html>