<!-- contents.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/default_layout}">


<div layout:fragment="content">
    <h1 class="page-title">글 목록</h1>
  
    <div class="contents-links">
    	<a href="contents/new" class = "contents-link">새로운 글 작성</a> 
	</div>
	
	<table class = "contents-table">
		<thead>
			<tr>
				<th class="table-header">제목</th>
				<th class="table-header">작성자</th>
				<th class="table-header">작성일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="content : ${contents}" class="contents-row">
				<td class="table-cell"><a th:href="@{/contents/{contentId}(contentId=${content.contentId})}" 
					th:utext="${content.title}"></a></td>
				<td th:text="${content.userId}" class="table-cell"></td>
				<td th:text="${content.dateCreated}" class="table-cell"></td>
			</tr>
		</tbody>
	</table>
	
</div>
</html>