<!-- contents.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/main_content}">
	
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/contents/contentsList.css}" />
</th:block>


<div layout:fragment="content">
    <h1 class="page-title">글 목록</h1>
  
    <div class="button-container">
    	<span id="createContent" class="create-btn" onclick="location.href='contents/new'">글 작성</span>
	</div>
	
	<table class = "contents-table">
		<thead>
			<tr>
				<th class="table-header">제목</th>
				<th class="table-header">작성자</th>
				<th class="table-header">작성일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="content : ${contents}" class="contents-row">
				<td class="table-cell"><a th:href="@{/contents/{contentId}(contentId=${content.contentId})}" 
					th:utext="${content.title}" class="contents-link"></a></td>
				<td th:text="${content.userId}" class="table-cell"></td>
				<td th:text="${content.dateCreated}" class="table-cell"></td>
			</tr>
		</tbody>
	</table>
	
    <div>
        <ul class="pagination">
            <li th:if="${currentPage > 1}">
                <a th:href="@{/contents(page=${currentPage - 1})}">&laquo; Previous</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/contents(page=${pageNum})}" 
                   th:classappend="${pageNum == currentPage} ? 'active' : ''"
                   th:text="${pageNum}"></a>
            </li>
            <li th:if="${currentPage < totalPages}">
                <a th:href="@{/contents(page=${currentPage + 1})}">Next &raquo;</a>
            </li>
        </ul>
    </div>
    
        <!-- 검색 기능 -->
    <div class="search-bar">
        <select id="searchFilter" class="search-select">
            <option value="content">내용</option>
            <option value="receiverId">받는 사람 ID</option>
        </select>
        <input name="searchText" type="text" id="searchText" class="search-input" placeholder="검색어를 입력하세요"/>
        <div id="searchButton" class="search-button">검색</div>
    </div>
    
    <th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/message/sent.js}"></script>
	</th:block>
</div>
</html>