<!-- content-details.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/main_content}">
	
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/contents/contentView.css}" />
</th:block>


<div layout:fragment="content">

	<div class='form-0'>
		<div class='form'>
		    <h1 class="page-title" th:text="${content.title}">Title</h1>
		    	<div clas="create-info">
				    <strong>Author:</strong> <span class="author" th:text="${content.userId}">User ID</span>
				    <strong>Date Created:</strong> <span class="date-created" th:text="${content.dateCreated}">Date Created</span>
				    <strong>Last Updated:</strong> <span class="last-updated" th:text="${content.lastUpdated}">Last Updated</span>
		    	</div>
		    <textarea class="main-area" th:text="${content.text}">Content Text</textarea>
		    
		    <button class="recommend-btn" id="recommend-button" th:attr="data-id=${content.contentId}">추천!</button>
		    <span class="recommend-cnt" id="recommend-count" th:text="${content.recommendCnt}">0</span>
		    
		    <h2>Comments</h2>
			<div class = "comment-section" id="comments-section">
			    <ul>
			        <li th:each="comment : ${comments}">
			            <strong class="comment-uid" th:text="${comment.userId}">User ID</strong>:
			            <span class="comment-text" th:text="${comment.text}">Comment Text</span>
			            <small class="comment-date" th:text="${comment.dateCreated}">Date Created</small>
			                    <!--삭제 버튼 표시 -->
				        <button type="button" class="delete-comment-button"
				                th:attr="data-comment-id=${comment.commentId}"
				                th:attrappend=" data-content-id=${content.contentId}">
				                삭제
				        </button>
			        </li>
			    </ul>
			</div>
		</div>
			
			    
	    <h3>Add a Comment</h3>
		<form id="comment-form" th:attr="data-id=${content.contentId}">
	    	<textarea name="text" rows="5" cols="50" required></textarea>
	    	<button type="submit">Add Comment</button>
		</form>
	    
	    <button onclick="location.href='/contents'">목록</button>
	
		<button th:onclick="'location.href=\'/contents/edit/' + ${content.contentId} + '\''">수정</button>
		<button class="delete-button" th:data-id="${content.contentId}" th:data-user-id="${content.userId}">삭제</button>
		
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/contents/details.js}"></script>
</th:block>
</html>