<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout}">
      
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/profile/profilemain.css}" />
</th:block>
<div layout:fragment="content">
	
   	<form action="/profile/insert" method="post">
   	<div class="profile-container">
   	<h1 th:each="user:${userInfo}" th:text="${user.userId}+ '\'s Profile'"></h1>
  
    	<!-- 프로필 상세 정보 -->
    	<div class="rofile-row">
        	<div class="profile-label">아이디</div>
			<div class="profile-value"><input name="userId" th:each="user:${userInfo}" th:value="${user.userId}" readonly></div>        
		</div>
        <div class="rofile-row">
        	<div class="profile-label">이름</div>
			<div class="profile-value"><input name="userName" th:each="user:${userInfo}" th:value="${user.userName}" readonly></div>
        </div>
        <div class="rofile-row">
        	<div class="profile-label">e-mail</div>
			<div class="profile-value"><input name="email" th:each="user:${userInfo}" th:value="${user.email}" readonly></div>
        </div>
        <div class="rofile-row">
        	<div class="profile-label">소속</div>
			<div class="profile-value"><input name="courseId" th:each="user:${userInfo}" th:value="${user.courseId}" readonly></div>
        </div>
        <div class="rofile-row">
        	<div class="profile-label">자기소개</div>
        	<div class="profile-value"><textarea id="biography" name="biography" rows=""></textarea></div>
        </div>
				
		<div class="profile-buttons">
		<button type="submit" class="btn btn-primary">저장</button>
        <a class="btn btn-secondary" href="/profile/list">취소</a>
		</div>
    </div>
	</form>
   
   
</div>

</html>