<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/default_layout_main}">
      
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/profile/profilemain.css}" />
</th:block>
<div layout:fragment="content">
	
   	<form action="/profile/insert" method="post">
   	<div class="profile-container">
   	<h1 th:each="user:${userInfo}" th:text="${user.userId}+ '\'s Profile'"></h1>
   	<!-- 프로필 상세 정보 -->
    	<div class="rofile-row">
        	<div class="profile-label">아이디</div>
			<div class="profile-value"><a th:utext="${userInfo.userId}"></a></div>        
		</div>
        <div class="rofile-row">
        	<div class="profile-label">이름</div>
			<div class="profile-value"><a th:utext="${userInfo.userName}"></a></div>
        </div>
        <div class="rofile-row">
        	<div class="profile-label">e-mail</div>
			<div class="profile-value"><a th:utext="${userInfo.email}"></a></div>
        </div>
        <div class="rofile-row">
        	<div class="profile-label">소속</div>
			<div class="profile-value"><a th:utext="${userInfo.courseId}"></a></div>
        </div>
        <div class="rofile-row">
        	<div class="profile-label">자기소개</div>
        	<div class="profile-value"><a th:utext="${profile.biography != null ? profile.biography : '자기소개를 입력해주세요'}"></a></div>
        </div>
				
		<div class="profile-buttons">
			<a th:if="${sessionId==profile.userId}" th:href="@{update(userId=${profile.userId})}"
				class="btn btn-primary">수정하기</a>
		</div>
    </div>
	</form>
   
   
</div>

</html>