<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.labs.notice.dao.NoticeRepository">

	<!-- 공지사항저장 -->
	<insert id="createNotice" parameterType="app.labs.notice.model.Notice">
		INSERT INTO notice (
			USER_ID, TITLE, TEXT
		)
		VALUES (
			#{userId}, #{title}, #{text, jdbcType=CLOB}
		)
	</insert>
	
	
	<!-- 공지사항 상세 조회 -->
    <select id="getNotice" parameterType="String" resultType="app.labs.notice.model.Notice">
        SELECT USER_ID, TITLE, TEXT, DATE_CREATED
        FROM NOTICE
        where NOTICE_ID=#{noticeId}
    </select>
    
    <!-- 공지사항 전체 조회 -->
    <select id="getAllNotice" resultType="app.labs.notice.model.Notice">
        SELECT * FROM NOTICE
        ORDER BY DATE_CREATED DESC
    </select>
    
    <!-- 공지사항 최신항목 하나 조회 -->
    <select id="getOneNotice" resultType="app.labs.notice.model.Notice">
        SELECT * FROM (
	        SELECT * FROM NOTICE
	        ORDER BY DATE_CREATED DESC
		) WHERE ROWNUM = 1
    </select>
    
    <!-- 공지사항 전체 조회 -->
    <select id="getContents" resultType="app.labs.content.model.Content">
    SELECT * FROM (
        SELECT * FROM CONTENT
        ORDER BY RECOMMEND DESC
        ) WHERE ROWNUM &lt; = 3
    </select>
	
</mapper>
