@charset "UTF-8";

/* 페이지 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f9f9f9; */
}

.content{
	padding-top: 20px
}

.form-0{
	position: relative;
}

.form {
	display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.page-title {
	margin-top: 20px;
	height: 50px;
    border : none;
    font-size: 40px;
    background-color: #f5f6f7;
    outline: none;
}

textarea.main-area {
	resize: none;
	overflow: hidden;
	
	display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100px;
	margin-top: 30px;
    font-size: 15px;
    border: none;
    background-color: #f5f6f7;
    outline: none;
}



/*버튼*/
.submit-btn {
	margin-top: 10px;
	position: relative;
	width: 150px;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: #d4dfe6;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #d4dfe6;
    color: #6aafe6;
    
}

.submit-btn:hover {
	text-decoration: underline;
	font-weight: bold;
}

.recommend-btn {
	margin-top: 10px;
	width: 100px;
	padding: 10px 20px;
	border-radius: 15px;
    border-color: #d4dfe6;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #ff4a4a;
    color: #fff;
}

.recommend-btn:hover {
	transform: scale(1.1);
	font-weight: bold;
}

th {
	cursor: pointer;
}

