<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.labs.content.dao.ContentRepository">

    <select id="getContentInfo" resultType="app.labs.content.model.Content">
        SELECT 
            CONTENT_ID AS contentId,
            USER_ID AS userId,
            DATE_CREATED AS dateCreated,
            TEXT AS text,
            LAST_UPDATED AS lastUpdated,
            FILE_ID AS fileId,
            RECOMMEND AS recommendCnt,
            TITLE AS title
        FROM CONTENT 
        WHERE CONTENT_ID = #{contentId}
    </select>

    <insert id="createContent" parameterType="app.labs.content.model.Content">
        INSERT INTO CONTENT (USER_ID, TITLE, DATE_CREATED, TEXT, LAST_UPDATED, FILE_ID)
        VALUES (
            #{userId},
            #{title},
            #{dateCreated},
            #{text, jdbcType=CLOB},
            #{lastUpdated},
            #{fileId}
        )
    </insert>

    <update id="editContent" parameterType="app.labs.content.model.Content">
        UPDATE CONTENT
        SET 
        	TITLE = #{title},
            TEXT = #{text, jdbcType=CLOB}, 
            LAST_UPDATED = #{lastUpdated}
        WHERE CONTENT_ID = #{contentId}
    </update>

    <delete id="deleteContent" parameterType="map">
        DELETE FROM CONTENT 
        WHERE CONTENT_ID = #{contentId} 
    </delete>

    <select id="getAllContents" resultType="app.labs.content.model.Content">
        SELECT 
            CONTENT_ID AS contentId,
            USER_ID AS userId,
            TITLE AS title,
            DATE_CREATED AS dateCreated,
            TEXT AS text,
            LAST_UPDATED AS lastUpdated,
            FILE_ID AS fileId,
            RECOMMEND AS recommendCnt
        FROM CONTENT
        ORDER BY DATE_CREATED DESC
    </select>
    
    <select id="getPagedContents" resultType="app.labs.content.model.Content">
    SELECT * FROM (
        SELECT CONTENT_ID AS contentId,
               USER_ID AS userId,
               TITLE AS title,
               DATE_CREATED AS dateCreated,
               TEXT AS text,
               LAST_UPDATED AS lastUpdated,
               FILE_ID AS fileId,
               RECOMMEND AS recommendCnt,
               ROW_NUMBER() OVER (ORDER BY DATE_CREATED DESC) AS rnum
        FROM CONTENT
    ) WHERE rnum BETWEEN #{offset} + 1 AND #{offset} + #{limit}
	</select>
    
    <update id = "increaseRecommend" parameterType="int">
    	UPDATE CONTENT
		SET RECOMMEND = RECOMMEND + 1
		WHERE CONTENT_ID = #{contentId}
    </update>
    
    <select id="getRecommendCount" resultType="int" parameterType="int">
  		SELECT RECOMMEND
  		FROM CONTENT
	    WHERE CONTENT_ID = #{contentId}
	</select>

</mapper>
