<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



	<div th:fragment="header">
		<header class="header">
		    <div class="logo">
		      <a href="/"><img src="/assets/logo.png" alt="로고"></a>
		    </div>
		    <nav class="nav">
		      <a href="/notices">공지사항</a>
		      <a href="/contents">게시판</a>
		      <a href="#">About Code Connect</a>
		      <a href="/journals" th:if="${session.userid != null}">
		      	수업일지
		      </a>
		    </nav>
		    <div class="right-section">
		    	<button id="mode-toggle" class="mode-toggle-btn">🌙</button>
				<div class="search-box">
		        <input type="text" placeholder="검색어를 입력하세요" />
		        <button>🔍</button>
			</div>
			<a href="/members/login" th:if="${session.userid == null}">로그인</a>
			<a href="/message/received" th:if="${session.userid != null}">
				<i class="envelop bi bi-envelope-arrow-up"></i>
			</a>
			<a href="/members/logout" th:if="${session.userid != null}">로그아웃</a>
			<a href="/members/mypage" th:if="${session.userid != null}">마이페이지</a>	
			<a href="/members/insert"  th:if="${session.userid == null}">회원가입</a>
			
		    </div>
		</header>
		  
		<!-- <img src="/assets/logo.png" alt="Code Connect Logo" class="logo"> -->
	
	        <!-- 로그인 / 로그아웃 버튼 -->
	        <!-- <a href="./login" class="btn btn-success" th:if="${session.userid == null}">로그인</a>
	        <a href="./logout" class="btn btn-success" th:if="${session.userid != null}">로그아웃</a>
	      </nav> -->
        
        
		
    </div>
    
    <div th:fragment="pre-content">
	    <div class="masthead" style="background-image: url('/assets/home-bg.jpg')">
			<div class="container position-relative px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<div class="site-heading">
							<h1>Code Connect</h1>
							<span class="subheading">Represent a platform where developers collaborate and communicate through AI technology</span>
						</div>
					</div>
				</div>
			</div>
		</div>
     </div>
    <div th:fragment="footer">
        <footer class="py-5 bg-gray">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center footer-font-color">Copyright &copy; Code Connect Co. 2024</p></div>
        </footer>
    </div>
</html>
