<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/default_layout_main}">
	
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main_content.css}" />
</th:block>


<div layout:fragment="content">
	<div class="px-4 px-lg-5">
		<!-- Call to Action-->
		<div class="card text-white bg-secondary my-5 py-4 text-center color-blue-im">
		    <div class="card-body"><p class="text-white m-0">Represent a platform where developers collaborate and communicate through AI technology</p></div>
		</div>

		<!-- Heading Row-->
		<div class="row gx-4 gx-lg-5 align-items-center my-5">
		    <div class="col-lg-7">
		    	<img class="img-fluid rounded mb-4 mb-lg-0 ratio-img" th:src="@{${imgUrl}}" onerror="this.onerror=null; this.src='/assets/default_image2_fixed.png';" alt="이미지">
		    	<!-- <img class="img-fluid rounded mb-4 mb-lg-0" th:src="@{/assets/default_image2_fixed.png}" alt="..."> -->
		    </div>
		    <div class="col-lg-5">
		        <!-- <h1 class="font-weight-light">Business Name or Tagline</h1> -->
		        <h1 class="font-weight-light" th:text="${notice.title}?: '공지사항이 없습니다'"></h1>
		        <!-- <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p> -->
		        <p th:utext="${notice.text} ?: '공지사항이 없습니다'"></p>
		        <!-- <a class="btn btn-primary" href="#!">Call to Action!</a> -->
		        <div class="card-footer"><a class="btn btn-primary btn-sm" th:href="${notice.noticeId} != null ? @{/notice/{noticeId}(noticeId=${notice.noticeId})} : @{'http://localhost'}" onerror="this.onerror=null; ">More Info</a></div>
		        <!-- <a th:href="@{/notice/{noticeId}(noticeId=${notice.noticeId})}">바로가기</a> -->
		    </div>
		</div>
		
		    <div class="row gx-4 gx-lg-5 card-padding">
		        <div class="col-md-4 mb-5"  th:each="content : ${contents}">
		            <div class="card h-100">
		                <div class="card-body">
		                    <h2 class="card-title" th:text="${content.title}"></h2>
		                    <p class="card-text"  th:text="${content.text}"></p>
		                </div>
		                <div class="card-footer"><a class="btn btn-primary btn-sm" th:href="@{/contents/{id}(id=${content.contentId})}">More Info</a></div>
		            </div>
		        </div>
		        <!-- <div class="col-md-4 mb-5">
		            <div class="card h-100">
		                <div class="card-body">
		                    <h2 class="card-title">Card Two</h2>
		                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
		                </div>
		                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
		            </div>
		        </div>
		        <div class="col-md-4 mb-5">
		            <div class="card h-100">
		                <div class="card-body">
		                    <h2 class="card-title">Card Three</h2>
		                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
		                </div>
		                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
		            </div>
		        </div> -->
		    </div>
		</div>
</div>
<th:block layout:fragment="script">
	<!-- <script type="text/javascript" th:src="@{/js/...}"></script> -->
</th:block>
</html>
